.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3794f2;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #6c757d;
}

.back-button:hover {
    background-color: #5a6268;
}

.messages-button {
    background-color: #28a745;
}

.messages-button:hover {
    background-color: #218838;
}

.logout-button {
    background-color: #dc3545;
}

.logout-button:hover {
    background-color: #c82333;
}
